/* CUSTOM STYLES */

/* POSITION */

.absolute {
    position: absolute !important;
}

.fixed {
    position: fixed !important;
}

.relative {
    position: relative !important;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.bottom {
    bottom: 0px;
}

.top {
    top: 0px;
}

.z1 {
    z-index: 1 !important
}

.z2 {
    z-index: 2 !important
}

.z3 {
    z-index: 3 !important
}

.z4 {
    z-index: 4 !important
}

.z5 {
    z-index: 5 !important
}

.z6 {
    z-index: 6 !important
}

.z7 {
    z-index: 7 !important
}

.z8 {
    z-index: 8 !important
}

.z9 {
    z-index: 9 !important
}

.z10 {
    z-index: 10 !important
}


/* FONTS */

.app-toolbar-title.display-1 {
    font-family: 'RobotoMono-Light' !important;
}

.bangers {
    font-family: 'Bangers';
}

.dosis {
    font-family: 'Dosis';
}

.dosis-semibold {
    font-family: 'Dosis-SemiBold';
}

.form-title {
    font-family: 'Kavivanar';
}


/* SHAPE */

.round {
    border-radius: 50vmax !important;
}

.wide {
    width: 100% !important
}

.no-overflow {
    overflow: hidden !important;
}


/* COLORS */
.gray {
    background: rgb(223, 218, 218) !important;
}

.gray--text {
    color: rgb(223, 218, 218) !important;
}


/* TRANSPARENCY */

.faint-1 {
    opacity: 0.1;
}

.faint-2 {
    opacity: 0.2;
}

.faint-3 {
    opacity: 0.3;
}

.faint-4 {
    opacity: 0.4;
}

.faint-5 {
    opacity: 0.5;
}

.faint-6 {
    opacity: 0.6;
}

.faint-7 {
    opacity: 0.7;
}

.faint-8 {
    opacity: 0.8;
}

.faint-9 {
    opacity: 0.9;
}


/* SPECIAL */
form {
    padding: 1.5rem !important;
    border-radius: 0.5rem;
    box-shadow: -0.5px 1.5px 0.25rem 0.5px rgba(0,0,0,0.25)
}

.banner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}
