/* CUSTOM STYLES */

/* POSITION */

.absolute {
    position: absolute !important;
}

.fixed {
    position: fixed !important;
}

.relative {
    position: relative !important;
}

.center {
    margin-left: auto;
    margin-right: auto;
}


/* FONTS */

.app-toolbar-title.display-1 {
    font-family: 'RobotoMono-Light' !important;
}

.bangers {
    font-family: 'Bangers';
}

.dosis {
    font-family: 'Dosis';
}

.dosis-semibold {
    font-family: 'Dosis-SemiBold';
}

.form-title {
    font-family: 'Kavivanar';
}


/* SHAPE */

.round {
    border-radius: 50% !important;
}


/* COLORS */
.gray {
    background: rgb(223, 218, 218) !important;
}


/* TRANSPARENCY */

.faint-4 {
    opacity: 0.4;
}

.faint-5 {
    opacity: 0.5;
}


/* SPECIAL */
form {
    padding: 1.5rem !important;
    border-radius: 0.5rem;
    box-shadow: -0.5px 1.5px 0.25rem 0.5px rgba(0,0,0,0.25)
}

.banner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}
