/* THEME COLORS */
:root {
    --deepblue: rgb(9, 50, 67);
    --darkblue:  rgb(29, 162, 216);
    --blue:  rgb(127, 205, 255);
    --paleblue:  rgb(118, 182, 196);
    --white:  rgb(222,243,246);
    --cream:  rgb(255, 236, 127);
    --rose:  rgb(255, 127, 165);
}

*::selection {
    opacity: 0;
    background: transparent;
    color: inherit;
    visibility: hidden;
}

@media print {
    html, body {
        display: none !important
    }
}

.g-deepblue {background-color: var(--deepblue) !important;}
.g-deepblue--text {color: var(--deepblue) !important;}
.g-deepblue--shadow {box-shadow: 1px -0.5px 0.5px 1px var(--deepblue) !important;}

.g-darkblue {background-color: var(--darkblue) !important;}
.g-darkblue--text {color: var(--darkblue) !important;}
.g-darkblue--shadow {box-shadow: 1px -0.5px 0.5px 1px var(--darkblue) !important;}

.g-blue {background-color: var(--blue) !important;}
.g-blue--text {color: var(--blue) !important;}
.g-blue--shadow {box-shadow: 1px -0.5px 0.5px 1px var(--blue) !important;}

.g-paleblue {background-color: var(--paleblue) !important;}
.g-blue--text {color: var(--paleblue) !important;}
.g-paleblue--shadow {box-shadow: 1px -0.5px 0.5px 1px var(--paleblue) !important;}

.g-white {background-color: var(--white) !important;}
.g-white--text {color: var(--white) !important;}
.g-white--shadow {box-shadow: 1px -0.5px 0.5px 1px var(--white) !important;}

.g-cream {background-color: var(--cream) !important;}
.g-cream--text {color: var(--cream) !important;}
.g-cream--shadow {box-shadow: 1px -0.5px 0.5px 1px var(--cream) !important;}

.g-rose {background-color: var(--rose) !important;}
.g-rose--text {color: var(--rose) !important;}
.g-rose--shadow {box-shadow: 1px -0.5px 0.5px 1px var(--rose) !important;}
